@{
    ViewData["Title"] = "Home";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"/>
</head>

 <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <h4>¡Bienvenido al Espacio Dinámico!</h4>
                <h2>Creamos <em>Ideas Digitales</em> &amp; <span>SEO</span> y Marketing</h2>
                <p>Contamos con diferentes planes que se adaptan a tí :)<a rel="nofollow" href="https://templatemo.com/page/1" target="_parent"></a>.</p>
                <form id="search" action="#" method="GET">
                  <fieldset>
                    <input type="address" name="address" class="email" placeholder="Ingresa la URL de tu website aquí" autocomplete="on" required>
                  </fieldset>
                  <fieldset>
                    <button type="submit" class="main-button">Analizar Web</button>
                  </fieldset>
                </form>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="imagen"></div>
